.artist {
  margin: 15px;

}

.artist img {
  height: 175px;
  width: 175px;
  padding: 1px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: black;
  object-fit: cover;
}
.artist .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artist .title {
  font-size: 15px;
  text-align: center;
}

