nav {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-bottom: 30px;
  border-bottom: 1px solid #eeee;
}

.player{
  width:300px;

}

.logo {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  font-size: 38px;
}
.logo1 {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  font-size: 28px;
}

.logo2 {
  align-items: center;
  padding: 10px;
  border: none;
  font-size: 28px;

}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

li, link {
  display: inline-block;
  text-decoration: none!important;
  margin-right: 8px;
  font-size:20px;
  color: inherit;
  white-space: nowrap;
  border: 1px solid;
  border-radius: 100px;
  cursor: pointer;
  align-items: center;
  height: 28px;
  line-height: 1;

}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;

}

.link {
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 5px;
  color: black;
}

.showMore {
  display: flex;
  justify-content: center;
  margin-top:5px;
  background-color:red;
}



